<% include ./partials/header %>

<div class="container" id="instapic-new">
	<form action="/login" method="POST">
        <center><h1 class="new-h1">Log in</h1></center>
		<div class="form-group">
          <label for="username"  class="label">Email</label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Your Username"  name="username" required>
        </div>
        <div class="form-group">
		 <label for="login-login"  class="label">Password</label>
			<div class="password">
			<input type="password" class="form-control" id="login-login" aria-describedby="emailHelp"         placeholder="Enter Your Password"  name="password" required><span><button type="button" class="btn btn-outline-warning btn-md" id="eye-button-2"><i class="fas fa-eye"></i></button></span>
			</div>
         </div>
		<button typr="submit" class="btn btn-primary btn-md btn-block">submit</button>
		<a href="/instapic">Go back</a>
</form>
</div>

<% include ./partials/footer %>