
<% include ./partials/header %>

<div class="container" id="instapic-new">
	<form action="/instapic" method="POST" enctype="multipart/form-data" class="UploadFoam">
        <center><h1 class="new-h1">Add New Photo</h1></center>
		<div class="form-group">
          <label for="Image-uplode" id="imageupload" ><i class="far fa-image"></i> Choose a Photo</label>
          <input type="file" id="Image-uplode" aria-describedby="emailHelp" name="image"  accept="image/*" required>
        </div>
		<div class="form-group">
          <label for="COMMENTS"  class="label">Something About Image</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Write Something About Image " name="description" required></textarea>
        </div>
		<button type="submit" class="submitButton">
			<span id="submitSpan">
				<h5 id="submith4">
					Submit
				</h5>
			</span>
		<div class="loading d-none" id="lodinganimtion">
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         </div>
		</button>
		<a href="/instapic">Go back</a>
</form>
</div>	
	
<% include ./partials/footer %>