
<% include ./partials/header %>

<div class="container" id="instapic-new">
	<form action="/instapic" method="POST" enctype="multipart/form-data" id="UploadFoam">
        <center><h1 class="new-h1">Add New Photo</h1></center>
		<div class="form-group">
          <label for="Image-uplode" >Image</label>
          <input type="file" id="Image-uplode" aria-describedby="emailHelp" name="image"  accept="image/*" required>
        </div>
		<div class="form-group">
          <label for="COMMENTS"  class="label">Something About Image</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Write Something About Image " name="description" required></textarea>
        </div>
		<button type="submit" class="btn btn-primary btn-md btn-block">submit</button>
		<a href="/instapic">Go back</a>
</form>
</div>	
	
<% include ./partials/footer %>