<% include ./partials/header %>

<div class="container" id="instapic-new">
	<form action="/user/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="UploadFoam">
        <center><h1 class="new-h1">Update your profile</h1></center>
		<div class="form-group">
          <label for="fullname"  class="label">Your Full-Name</label>
          <input type="text" class="form-control" id="fullname" aria-describedby="emailHelp" value="<%= user.fullname %>"  name="fullname" required>
        </div>
		<div class="form-group">
          <label for="Image-uplode" >Image</label>
          <input type="file" id="Image-uplode" aria-describedby="emailHelp" name="image"  accept="image/*">
        </div>
		<div class="form-group">
          <label for="text"  class="label">Something About Yourself</label>
			<textarea class="form-control" id="text" rows="4" name="description" ><%= user.description %></textarea>
		</div>
		<button type="submit" class="submitButton">
			<span id="submitSpan">
				<h5 id="submith4">
					Submit
				</h5>
			</span>
		<div class="loading d-none" id="lodinganimtion">
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         </div>
		</button>
</form>
</div>

<% include ./partials/footer %>