<% include ./partials/header %>

<div class="container" id="login-container">
	<form action="/register" method="POST" enctype="multipart/form-data" id="new-foam" class="UploadFoam">
        <center><h1 class="new-h1">Sign up</h1></center>
		<div class="form-group">
          <label for="Image"  class="label">Email</label>
          <input type="text" class="form-control" id="Image" aria-describedby="emailHelp" placeholder="Enter your Email"  name="username" required>
        </div>
		<div class="form-group">
          <label for="login-login"  class="label">Password</label>
		   <div class="password">
			<input type="password" class="form-control" id="login-login" aria-describedby="emailHelp" placeholder="Enter Password"  name="password" required><span><button type="button" class="btn btn-outline-warning btn-md" id="eye-button-2"><i id="fa-eye" class="fas fa-eye"></i></button></span> 
		  </div>
          
        </div>
		<div class="form-group">
          <label for="fullname"  class="label">Your Full-Name</label>
          <input type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Enter your Full name"  name="fullname" required>
        </div>
		
		<div class="form-group">
          <label for="Image-uplode" id="imageupload" ><i class="far fa-image"></i> Choose a Photo</label>
          <input type="file" id="Image-uplode" aria-describedby="emailHelp" name="image"  accept="image/*" required>
        </div>
		
		<div class="form-group">
          <label for="text"  class="label">Something About Yourself</label>
			<textarea class="form-control" id="text" rows="4" placeholder="Write Something About Yourself" name="description"></textarea>
        </div>
		
		<div class="form-group">
			<label for="key"  class="label">Security Key</label>
			<div class="password">
          <input type="password" class="form-control" id="key" aria-describedby="emailHelp" placeholder="Security Key"  name="isadmin" required><span><button type="button" class="btn btn-outline-warning btn-md" id="eye-button-1"><i class="fas fa-eye"></i></button></span>
			</div>
		</div>
		
		<button type="submit" class="submitButton">
			<span id="submitSpan">
				<h5 id="submith4">
					Submit
				</h5>
			</span>
		<div class="loading d-none" id="lodinganimtion">
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         	<div class="obj"></div>
         </div>
		</button>
		<a href="/instapic">Go back</a>
</form>
</div>

<% include ./partials/footer %>