<% include ../partials/header %>

  <div class="notification-container">
		<h1>Notifications</h1>
        <ul>
	     <% allNotifications.forEach(function(notification) { %>
	    <li>
		    <a href="/instapic/<%= notification.photoId %>">
			    <%= notification.fullname %> created a new photo %>
		    </a>
	    </li>
	    <% }); %>
     </ul>
   
  </div>
      

<% include ../partials/footer %>