<% include ../partials/header %>
<div id="our-login-page-content" class="our-login-page-content">
	<div class="alert alert-danger bin-alert alert-dismissible fade show" role="alert">
		  <h4 class="alert-heading alert-header-session"><strong>Verification mails can go to your bin!!</strong></h4>
		  <p>Sometimes when we send mails it can go to your bin. So please check your bin if you are not getting mails in your inbox.<br/> Thank you. </p>
		<button  type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span id="bin-alert-close-button" aria-hidden="true">&times;</span>
		</button>
    </div>
	<div id="login-container">
		<div class="preloader-all-pages hide-loader-div">
				<svg class="loading-box">
					<circle class="loader" fill="none" stroke-width="3" stroke-linecap="round" cx="24" 
						  cy="24" r="17"></circle>
				</svg>
		</div>
		<div class="login-page-contant">
			<form class="submit-forms" action="/instapic/forgot" method="POST">
				<center><h1 class="new-h1">Reset Password</h1></center>
				<div class="form-group">
				  <label for="username"  class="label">Email</label>
				  <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Your Email"  name="email" required>
				</div>
				<button typr="submit" class="btn btn-primary btn-md btn-block">submit</button>
				<a href="/login">Go back</a>
		   </form>
		</div>
	</div>
</div>

<% include ../partials/footer %>