<% include ../partials/header %>

<div class="our-login-page-content">
	<div id="login-container">
		<div class="preloader-all-pages hide-loader-div">
				<svg class="loading-box">
					<circle class="loader" fill="none" stroke-width="3" stroke-linecap="round" cx="24" 
						  cy="24" r="17"></circle>
				</svg>
		</div>
		<div class="login-page-contant">
			<form class="submit-forms" action="/login" method="POST">
				<center><h1 class="new-h1">Log in</h1></center>
				<div class="form-group">
				  <label for="username"  class="label">Email</label>
				  <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Your email address"  
						 name="username" required>
				</div>
				<div class="form-group">
				 <label for="login-login"  class="label">Password</label>
					<div class="password">
					<input type="password" class="form-control" id="login-login" aria-describedby="emailHelp"  placeholder="Enter Your Password"  
						   name="password" required>
						<span>
						  <button type="button" class="btn btn-outline-warning btn-md" id="eye-button-2"><i id="fa-eye" class="fas fa-eye"></i></button>
						</span>
					</div>
				 </div>
				<button typr="submit" class="btn btn-primary btn-md btn-block">Login</button>
				<div class="d-flex justify-content-between" id="forgotpassword">
					<div>
						<a href="/instapic">Go back</a> 
					</div>
					<div>
						<a id="forgotbuttonlink" href="/instapic/forgot">Forgot Password</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

<% include ../partials/footer %>