
.userprofile {
	margin:100px auto 100px;
	display:flex;
	justify-content:center;
	transition: all 0.3s ease;
}

.userprofile .userimage {
	display : flex;
	align-items : center;
	margin-top: 15px;
	transition: all 0.3s ease;
}

.userprofile .userimage .img {
	width:150px;
	height:150px;
}

.userprofile .userimage .img img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 75px;
}
.userprofile .userdetails {
	display: block;
	padding-left: 2%;
	margin-top: 15px;
	max-width: 40%;
}

.userprofile .userdetails h3 {
	font-size:40px;
	font-weight:800;
	letter-spacing:1.5px;
}

.userprofile .userdetails p {
	width: 100%;
	margin-bottom: 2.5px;	
}

.related-post .content h5
{
	font-weight:800;
	letter-spacing:1px;
}

#follower-popup
{
	color : #3a3ad5;
	font-size:20px;
}

#modal-title-of-followers
{
	color : #3a3ad5;
}

.userprofile .userdetails .profile_follow_btn
{
	color: #212529;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-right: 2px;
    font-size: 15px;
    font-weight: 900;
    background-color: #ececec;
    cursor: pointer;
}

.userprofile .userdetails .profile_follow_btn:hover
{
	background-color: #d3d3d385;
}

#update-button
{
	padding-left : 10px;
	padding-top : 2px; 
}

.userprofile .userdetails .fa-cog
{
	color : #fd7e14;
}

#uploadcontainerh4
{
	font-weight:600;
	font-size:2.5rem;
	color : #15569b;
}

#firstDiv 
{
  padding : 21% 25%;
  text-align: center;
}


#SecondDiv{
	text-align: center;
	padding: 0% 25%;
}

#uploadicon
{
   font-size: 3rem;
   color: #15569b;
}

#imageuplodeicon {
	font-size : 1.3rem;
	margin-right: 6px;
	color : #1111d3;
}

#imageh4{
	font-size:20px;
	font-weight:500;
	color:#1111d3;
}

#uploadImgBox {
    background-color: #ececec;
    border: 1px solid #358be8; 
}

#private-page-container
{
	margin :70px 30px 20px;
}

#private-gallery-icon
{
	font-size : 100px;
	color:#0a5799ed;
	
}

.private-page{
	margin-left : 30%;
}

#inside-container
{
	margin-left : 20px; 
}

#private-name-session{
	margin-bottom:0px;
	color:#0a5799ed;
	font-weight:500;
	
}

#private-p-session{
	color: #19629f;
    font-size : 18px;
	font-weight:600;	
}

#profile-edit-header{
	margin : 5px auto 20px;
	color:#4547d6;
}

#pills-tab
{
	margin:auto 28px;
}

.nav-items-2 , .nav-items-3, .nav-items-1{
	width: 9rem;
    margin-right: 1%;
	padding	:3px;
    border-bottom: none;
    text-align: center;
}

.toggle-buttons{
	 color:#000000;
	 text-decoration: none !important;
	font-weight	:700;
} 

.nav-items-1{
	border-bottom: 2px solid rgb(4, 95, 192);
	width: 5rem;
}

#pills-home-tab{
	color:  rgb(4, 95, 192);
}

@media (max-width: 992px) { 
	.userprofile{
		display : block !important;
	}
	
	.userprofile .userimage{
		justify-content : center !important;
	}
	
	.userprofile .userdetails {
		max-width: 100% !important;
		padding-left : 10% !important;
		display : flex !important;
		justify-content : center !important;
	}
}

