
.userprofile {
	margin:155px auto 110px;
	display:flex;
	justify-content:center;
}

.userprofile .userimage .img
{
	width:150px;
	height:150px;
}
.userprofile .userimage .img img
{
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:75px;
}
.userprofile .userdetails {
	display:block;
	padding-left:3.5%;
	margin-top:15px;
	width:35%;
}

.userprofile .userdetails h3 {
	font-size:40px;
	font-weight:800;
	letter-spacing:1.5px;
}

.userprofile .userdetails p {
	width: 100%;
	margin-bottom: 2.5px;	
}

.related-post .content h5
{
	padding-left:20px;
	font-weight:800;
	letter-spacing:1px;
}

#follower-popup
{
	color : #3a3ad5;
	font-size:20px;
}

#modal-title-of-followers
{
	color : #3a3ad5;
}
