#whatsapp-foam #showFirstImage{
	display:none;
}

#whatsapp-container , #login-container {
    position : relative;
	width : 800px;
	margin-left: auto;
	margin-right:auto;
	background : #ffffff8a;
	box-shadow: 0 4px 10px 8px rgba(0, 0, 0, 0.05), 0 6px 20px 2px rgba(0, 0, 0, 0.04);
	border-radius : 4px;
	margin-bottom : 40px;
	transition : all 0.5s ease;
}

#login-container{
	width : 670px;
	padding:  0px;
	position : relative;
	transition : all 0.5s ease;
}

.login-page-contant{
	padding: 2rem 2.5rem;
	transition : all 0.5s ease;
}


.whatsapp-userImg {
	margin:20px auto;
    display : flex;
	justify-content : center;
}

.prof-img img{
	width : 130px;
	height:  130px;
	border-radius : 65px;
	background : #ffffff8a;
	box-shadow: 0 4px 10px 8px rgba(0, 0, 0, 0.05), 0 6px 20px 2px rgba(0, 0, 0, 0.04);
}

.whatsappinfo h2 {
	font-size : 45px;
	font-family: 'Raleway', sans-serif;
	text-align : center;
	color : #42422e;
	font-weight: 700;
}

.whatsappinfo p {
	font-size : 19px;
	font-weight : 400;
	text-align : center;
	color : #484f42; 
	padding : 0.5rem;
}

.whatsappinfo  h3 {
	font-size : 24px;
	font-weight : 700;
	color : #005dff; 
	padding-left: 0.5rem;
}

.whatsappinfo  .p-instruction{
	text-align : left;
	font-weight : 400;
	margin-top : 0px;
	margin-bottom : 0px;
	font-size : 17px;
	color :#000000;
}

#instruction-p2{
	padding-top:2px;
	margin-bottom : 5px;
}

.whatsapp-num {
	font-weight : 800;
	color : #0078f7;
}

.number-foam{
	display : flex;
}

.number-foam .password{
	width :70%;
	margin-right :5px;
}

.sign-up-bottom-links p {
	color : blue;
	font-weight : 700;
	font-size : 14px;
}

.sign-up-bottom-links a{
	font-weight : 700;
	font-size : 14px;
}


@media (max-width: 992px) { 
    #login-container {
	   width : 95%;
	}
	
	.login-page-contant {
	    padding: 2rem 2rem !important;
	}
	
	#whatsapp-container, #login-container {
       width: 90% !important;
    }
	
	.creator-description{
		width : 85%;
	}
	
	#creator-page-my-data-session{
		margin-right : 5% !important;
	}
}