<% include ../partials/header %>

	<div class="about-page-session">
	   <div class="main-header-of-about-page">
		   <div class="row">
			   <div class="col-md-6">
				   <div class="header-of-about-us d-flex align-items-center">
					   <div class="main-inner-content">
						   <h1>Instapic Web App,</h1>
						   <p>Instapic web App is a simple and intractive website. 
							  Here you can like images of your friend, you can comments
							  on the images, you can follow your friends, you can share 
							  images on WhatsApp and manymore..
						   </p>
					   </div>
				   </div>
			   </div>
			   <div class="col-md-6">
				   <div class="About-us-img-div d-flex justify-content-center align-items-center">
					   <img src="/Images/about-us-img.jpg">
				   </div>
			   </div>
		   </div>   
	   </div>
		
		<div class="about-us-underline d-flex justify-content-center">
		    <div class="about-sec">
				<div class="about-us-text d-flex justify-content-center">
				   <div class="my-inner-about-us-div">
					   <p>About Us</p>
						<hr class="hr-style-aboutus">
					</div>
				</div>
				<div class="card-img-session-div">
					<div class="card" style="width: 18rem;">
					  <img id="my-img" class="card-img-top" src="/Images/profile.jpeg" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">Ajay Gupta</h5>
						<p id="my-intro" class="card-text">I am computer science student at VESIT. I am a full stack MERN developer and i also like Competitive Programming.</p>
						  <p class="content-through-email">Email: <span class="personal-email">ajay.u.gupta14@gmail.com</span></p>
						  <div class="contact-through-social-media d-flex justify-content-start">
							  <p class="linkedin-account">
								  <a href="https://www.linkedin.com/in/ajay-gupta-38381315a/" target="_blank">
									  <i class="fab fa-linkedin"></i>
								  </a>
							  </p>
							  <p class="twitter-account">
								  <a href="https://twitter.com/Ajay85629695" target="_blank">
									  <i class="fab fa-twitter"></i>
								  </a>
							  </p>
							  <p class="facebook-account">
								  <a href="https://www.facebook.com/profile.php?id=100027235971261" target="_blank">
									  <i class="fab fa-facebook"></i>
								  </a>
							  </p>
						  </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="description-of-website">
			<div class="my-inner-about-us-div d-flex justify-content-start">
				<div class="description-content-main-head">
					<p>About My Website</p>
				    <hr class="hr-style-aboutus">
				</div>
			</div>
			<p class="Website-full-decription">
				Hii there i am Ajay Gupta of CMPN-2 branch from Vivekanand Education Society's Institute of Technology . I created this small Instapic Web App for my friends. Because some of my friends saying that you are learning web developement try to create something that will connect us. So i thought that let's create a web app.<br/>
				In this App anyone can post their best memories. This app only support images not videos.
		        In this you can add images.You can look, like, comment on any image.
				If you want to give any feedback about this web app then feel free to do.
		   you just have to mail on this <strong><span><i class="far fa-envelope"></i></span> 2018.ajay.gupta@ves.ac.in</strong>
			</p>
		</div>
    </div>
 
 
<% include ../partials/footer %>